.container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.btnMore {
  width: 150px;
  height: 30px;
  background-color: rgb(63, 59, 122);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
}
.btnMore:hover,
.btnMore:focus {
  background-color: rgba(63, 59, 122, 0.7);
}
