.searchbar {
  height: 50px;
  background-color: rgb(63, 59, 122);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  border: none;
  background-color: #fff;
}
/* .button_label {} */
.input {
  outline: none;
  border: none;
}
